/* COMIDA */
section.food {
    width: 100%;
    height: auto;
    padding: 5.6rem 0;
    position: relative;
    overflow: hidden;
    background-color: var(--white-color);
}

section.food .left {
    width: 100%;
    max-width: 41.6rem;
}

section.food .left h1 {
    margin-bottom: 1.6rem;
}

section.food .left .desc {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 3.4rem;
}

section.food .left .actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

section.food .left .actions select {
    width: 100%;
    max-width: 33rem;
    height: 6.2rem;
    padding: 0 4.4rem;
    border: 1px solid var(--primary-color);
    border-radius: 1.2rem;
    font-size: 2.2rem;
    color: var(--primary-color);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('../assets/icon-caret-down.svg') no-repeat right 1.5rem center;
    background-color: white;
    background-size: 2.4rem;
}

section.food .left .actions button {
    width: 6.2rem;
    height: 6.2rem;
    background-color: var(--primary-color);
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--white-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

section.food .left .actions button:hover {
    background-color: var(--primary-color-dark);
}

section.food .left .actions select option {
    padding: 0 2rem;
    font-size: 1.8rem;
    color: var(--text-color);
}

section.food .img {
    width: 100%;
    max-width: 81.8rem;
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 1200px) {
    section.food {
        height: auto;
    }

    section.food .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    section.food .left {
        margin-bottom: 3.2rem;
    }

    section.food .img {
        width: 100%;
        max-width: 70rem;
        position: inherit;
        border-radius: 1.2rem;
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    section.food {
        padding-top: 2.4rem;
        padding-bottom: 4rem;
    }

    section.food .left .desc {
        margin-bottom: 2rem;
    }

    section.food .left {
        margin-bottom: 2.8rem;
    }

    section.food .left .actions select {
        max-width: auto;
        padding: 0 3rem;
        flex: 1;
    }

}

/* DETALHES */
section.details {
    width: 100%;
    height: 100%;
}

section.details .container {
    display: flex;
    align-items: flex-start;
    height: 100%;
}

section.details .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6rem;
    width: 100%;
    height: 100%;
    margin-right: 8rem;
    padding-top: 6rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 8rem;
    padding-bottom: 3rem;
    flex: 1;
}

section.details .left .acompanhamentos h2 {
    width: 100%;
    max-width: 33rem;
    margin-bottom: 2.4rem;
}

section.details .left .acompanhamentos ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6rem;
}

section.details .left .acompanhamentos ul li {
    font-size: 1.8rem;
    color: var(--text-color);
    line-height: 125%;
}

section.details .left .acompanhamentos ul li:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, .1);
    padding-right: 1.6rem;
}

section.details .left .tamanho-porcao-preco h2 {
    width: 100%;
    max-width: 33rem;
    margin-bottom: 2.4rem;
}

section.details .left .tamanho-porcao-preco table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 2rem;
}

section.details .left .tamanho-porcao-preco table th,
section.details .left .tamanho-porcao-preco table td {
    text-align: left;
    padding: 1.2rem;
}


section.details .left .tamanho-porcao-preco table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

section.details .left .tamanho-porcao-preco table tr:last-child {
    border-bottom: none;
}

section.details .right {
    padding-top: 6rem;
    padding-bottom: 3rem;
    width: 100%;
    max-width: 62rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

section.details .right .preparo {
    margin-bottom: 7.2rem;
}

section.details .right .preparo h2 {
    margin-bottom: 2.4rem;
}

section.details .right .preparo .desc {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

section.details .right .avaliacoes h2 {
    margin-bottom: 1.2rem;
}

section.details .right .avaliacoes .stars {
    display: flex;
    align-items: center;
    gap: .6rem;
}

section.details .right .avaliacoes>.stars span {
    font-size: 2.8rem;
    color: var(--primary-color);
    line-height: 100%;
}

section.details .right .avaliacoes p {
    font-size: 2rem;
    margin-top: 0.2rem;
    margin-bottom: 4.4rem;
}

section.details .right .avaliacoes .comentarios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.2rem;
}

section.details .right .avaliacoes .comentarios .comentario {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    padding: 2.5rem 1.6rem;
    border-radius: 1.2rem;
    background-color: var(--white-color);
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.05);
}

section.details .right .avaliacoes .comentarios .comentario .profile {
    display: flex;
    align-items: center;
    gap: .8rem;
}

section.details .right .avaliacoes .comentarios .comentario .profile .img-profile {
    width: 5.5rem;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}

section.details .right .avaliacoes .comentarios .comentario .profile .img-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.details .right .avaliacoes .comentarios .comentario .profile h3 {
    font-size: 1.8rem;
}

section.details .right .avaliacoes .comentarios .comentario .stars {
    gap: 0.2rem;
    margin-top: .5rem;
}

section.details .right .avaliacoes .comentarios .comentario .stars span {
    font-size: 2.2rem;
    color: var(--primary-color);
}

section.details .right .avaliacoes .comentarios .comentario p {
    font-size: 1.8rem;
    color: var(--text-color);
}

@media (max-width: 1200px) {
    section.details .container {
        flex-direction: column;
    }

    section.details .left {
        border-right: none;
    }
}

@media (max-width: 768px) {
    section.details {
        padding: 3rem 0;
    }

    section.details .left {
        padding: 0;
        gap: 3.2rem;
    }

    section.details .right {
        padding: 0;
        margin-top: 3.2rem;
    }

    section.details .right .preparo {
        margin-bottom: 3.2rem;
    }
}