* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #F5F5F5;
    --primary-color: #EB5757;
    --white-color: #FFFFFF;
    --text-color: #333333;
    --primary-color-dark: #C03939;
}

html {
    font-family: 'Baloo 2', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    overflow-x: hidden;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html,
body {
    width: 100vw;
    height: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea,
select {
    font: inherit;
    border: none;
    background: none;
    outline: none;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 100%;
    max-width: 129.6rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}

h1,
h2,
h3 {
    color: var(--text-color);
    line-height: 110%;
}

p {
    color: var(--text-color);
    line-height: 130%;
    font-size: 2.2rem;
    opacity: .85;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 3.8rem;
}

h3 {
    font-size: 2.8rem;
}

a.primary,
a.secondary {
    padding: 0.9rem 1.6rem;
    border-radius: 1.2rem;
    font-size: 2.2rem;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s;
}

a.primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

a.primary:hover {
    background-color: var(--primary-color-dark);
}

a.secondary {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

a.secondary:hover {
    border-color: var(--primary-color-dark);
    color: var(--primary-color-dark);
}

.tag {
    display: inline-block;
    padding: 0.7rem 1.6rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 5.2rem;
}

section {
    scroll-margin-top: 9.9rem;
}

.btn-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-close img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* HEADER */
header {
    width: 100vw;
    height: 9.9rem;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 60px rgba(0, 0, 0, 0.05);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center
}

header .logo h1 {
    font-size: 3rem;
    margin-left: 1.2rem;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .burguer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.8rem;
    height: 2.8rem;
    display: none;
    cursor: pointer;
}

header nav .burguer-icon img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.9rem;
}

header nav ul a {
    font-size: 1.8rem;
    color: var(--text-color);
    transition: all 0.3s;
}

header nav ul a:hover {
    color: var(--primary-color);
}

header nav ul li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

header nav ul li .dropdown {
    width: 20rem;
    height: 25rem;
    overflow-y: scroll;
    position: absolute;
    background-color: var(--white-color);
    padding: 2rem;
    border-radius: 1.2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

header nav ul li .dropdown ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}

header nav ul li .dropdown ul>li {
    width: 100%;
}

header nav ul li .dropdown ul>li a {
    display: inline-block;
    width: 100%;
    max-width: 12rem;
    line-height: 125%;

}

header nav ul li .dropdown ul>li:not(:first-child) {
    padding-top: 1.2rem;
}

header nav ul li .dropdown ul>li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1.2rem;
}

header nav ul li .dropdown::-webkit-scrollbar {
    width: 8px;
}

header nav ul li .dropdown::-webkit-scrollbar-track {
    background: transparent;
}

header nav ul li .dropdown::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
}

header nav ul .btn-close.menu-btn {
    display: none;
}


header .right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

header .cart-btn {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 1.2rem;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s;
}

header .cart-btn:hover {
    background-color: var(--primary-color-dark);
}

.overlay {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    pointer-events: none;
    transition: all .3s;
    z-index: 100;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.cart {
    position: absolute;
    width: 90%;
    max-width: 70rem;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--white-color);
    padding: 3rem 3rem 1.8rem 3rem;

    display: flex;
    flex-direction: column;
    transition: all .3s ease;

    transform: translateX(100%);

    overflow-x: hidden;
}

.cart.active {
    transform: translateX(0);
}

.cart .top {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2.8rem;
}

.cart .top .img {
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart .top .img img {
    width: 100%;
    height: 100%;
}

.cart .top h2 {
    font-size: 3.4rem;
}

.cart .items {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    flex: 1;
    overflow-y: auto;
}

.cart .items .item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.cart .items .item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 1.6rem;
}

.cart .items .item h3 {
    font-size: 2.4rem;
    font-weight: 600;
}

.cart .items .item .img {
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 1.2rem;
    overflow: hidden;
}

.cart .items .item .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.cart .items .item .info .left span {
    font-size: 2rem;
    color: rgba(0, 0, 0, .8);
}

.cart .items .item .info .actions .remove-btn {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 1.2rem;
    cursor: pointer;
    transition: all .3s;
}

.cart .items .item .info .actions .remove-btn:hover {
    background-color: var(--primary-color-dark);
}

.cart .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}

.cart .total h3 {
    font-size: 2.8rem;
}

.cart .total span {
    font-size: 2.2rem;
}

.cart .btn-finish-order {
    width: 100%;
    height: 5rem;
    border-radius: 1.2rem;
    margin-top: 1.8rem;
    background-color: var(--primary-color);
    font-size: 2.4rem;
    color: var(--white-color);
    font-weight: 600;
    cursor: pointer;
    transition: all .3s;
}

.cart .btn-finish-order:hover {
    background-color: var(--primary-color-dark);
}

@media (max-width: 768px) {
    h1 {
        font-size: 3.4rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.4rem;
    }

    p {
        font-size: 1.8rem;
    }

    html {
        font-family: 'Baloo 2', sans-serif;
        scroll-behavior: smooth;
    }

    header {
        height: 8rem;
        padding: 1.6rem 0;
    }

    header .container {
        align-items: center;
        gap: 1.6rem;
    }

    header .logo img {
        width: 3.4rem;
        display: inline-block;
    }

    header .logo h1 {
        font-size: 2.4rem;
        margin-left: 1rem;
        margin-top: .7rem;
    }

    header nav ul {
        gap: 3rem;
    }

    a.primary,
    a.secondary {
        padding: 1rem 1.4rem;
        font-size: 2rem;
    }

    section {
        scroll-margin-top: 8rem;
    }

    header nav.active ul {
        transform: translateX(0);
    }

    header nav.active ul .btn-close {
        display: block;
    }

    header nav>ul {
        padding: 2rem;
        position: absolute;
        width: 40rem;
        max-width: 70vw;
        height: 100vh;
        right: 0;
        top: 0;
        z-index: 200;
        background-color: var(--white-color);
        flex-direction: column;
        transform: translateX(100%);
        transition: all .3s ease;
    }

    header nav .burguer-icon {
        display: block;
    }

    header nav ul .btn-close.menu {
        display: block;
    }

    header nav ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    header nav ul.items-menu>li {
        font-weight: 600;
    }

    header nav ul li:hover .dropdown {
        opacity: 0;
    }

    header nav ul li .dropdown {
        width: 100%;
        height: 0;
        position: relative;
        z-index: 201;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        box-shadow: none;
        border-radius: 0;
        margin: 0;
        padding: 0;
        transition: all .3s ease;
        opacity: 0;
        pointer-events: none;
    }

    header nav ul li .dropdown ul {
        width: 100%;
        height: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        transition: all .3s;
    }

    header nav ul li .dropdown.active {
        height: 25rem;
        opacity: 1;
        position: relative;
        pointer-events: all;
        margin-top: 2.4rem;
    }

    header nav ul li .dropdown ul li {
        font-weight: 400;
    }

    header nav ul li .dropdown ul li a {
        margin-left: .5rem;
    }

    header .right {
        gap: 2rem;
        flex-direction: row-reverse;
    }

    .cart {
        padding: 2rem 2rem 1.8rem 2rem;
    }

    .cart .top h2 {
        font-size: 2.8rem;
    }

    .cart .top .img {
        width: 3rem;
        height: 3rem;
    }
}