/* HERO BANNER */
section.home {
    width: 100%;
    height: 63.5rem;
    display: flex;
    align-items: center;
    position: relative;
}

section.home .container {
    z-index: 1;
}

section.home .bg {
    background-image: url('./assets/food-pattern.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.06;
}

section.home .left {
    width: 100%;
    max-width: 41.7rem;
}

section.home .left h1 {
    margin-bottom: 1rem;
}

section.home .left p {
    margin-bottom: 2.4rem;
    width: 100%;
    max-width: 22.1rem;
}

section.home .img {
    position: absolute;
    top: 0;
    right: 0;
}

section.home .left .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 1200px) {
    section.home {
        height: auto;
        padding: 4rem 0;
    }

    section.home .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3rem;
    }

    section.home .left {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    section.home .img {
        position: inherit;
        width: 100%;
        max-width: 70rem;
        border-radius: 1.2rem;
        overflow: hidden;
    }

    section.home .img img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    section.home {
        padding-top: 2.4rem;
    }

    section.home .left .buttons {
        gap: .8rem;
    }

    section.home .left {
        width: 100%;
        max-width: 30rem;
    }
}

/* SOBRE */
section.sobre {
    padding: 12rem 0;
    background: linear-gradient(#FFFFFF, #FFEEEE);
}

section.sobre .container {
    display: flex;
    align-items: center;
    gap: 10rem;
}

section.sobre .left {
    width: 100%;
    max-width: 33.1rem;
}

section.sobre .left h2 {
    margin-top: 1.4rem;
    margin-bottom: 1.6rem;
}

section.sobre .left .desc {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

section.sobre .right {
    width: 100%;
    max-width: 70rem;
}

section.sobre .right ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2.4rem;
}

section.sobre .right ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 18.2rem;
    background-color: var(--white-color);
    border-radius: 1.2rem;
    text-align: center;
    padding: 2.7rem 3.4rem;
    box-shadow: 0 4px 50px rgba(255, 87, 34, 0.10);
    transition: all .3s;
}

section.sobre .right ul li:hover {
    box-shadow: 0 6px 300px rgba(255, 87, 34, 0.25);
    transform: translateY(-0.8rem);
}

section.sobre .right ul li h3 {
    color: var(--primary-color);
    font-weight: 500;
    margin-top: .6rem;
}

@media (max-width: 992px) {
    section.sobre {
        height: auto;
        padding: 5rem 0;
    }

    section.sobre .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 4rem;
    }


}

@media (max-width: 768px) {
    section.sobre {
        padding: 3.6rem 0;
    }

    section.sobre .container {
        gap: 2.8rem;
    }

    section.sobre .left {
        max-width: 30rem;
    }

    section.sobre .left h2 {
        margin-bottom: 1.2rem;
    }

    section.sobre .right ul {
        gap: 1.6rem;
    }
}

/* CARDÁPIO */
section.cardapio {
    padding: 6rem 0;
}

section.cardapio .top {
    display: flex;
    align-items: center;
    gap: .8rem;
    margin-bottom: 2.5rem;
}

section.cardapio ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.3rem;
}

section.cardapio ul li {
    width: auto;
    transition: all 0.3s cubic-bezier(.68, -0.55, .27, 1.55);
    box-shadow: 0 4px 50px rgba(255, 87, 34, 0.10);
}

section.cardapio ul li:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 80px rgba(255, 87, 34, 0.25);
}

section.cardapio ul li .img {
    width: 100%;
    height: 19.4rem;
    overflow: hidden;
    border-radius: 1.2rem 1.2rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

section.cardapio ul li .img::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(235, 87, 87, 0) 0%, rgba(235, 87, 87, 0.4) 100%);
    z-index: 1;
}

section.cardapio ul li .img h3 {
    width: 100%;
    max-width: 22.2rem;
    position: absolute;
    bottom: 1rem;
    color: var(--white-color);
    z-index: 2;
}

section.cardapio ul li .img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
}

section.cardapio ul li .bottom {
    background-color: var(--white-color);
    text-align: center;
    border: 1px solid #B92727;
    border-top-color: transparent;
    border-radius: 0 0 1.2rem 1.2rem;
}

section.cardapio ul li .bottom .info {
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.cardapio ul li .bottom .info p {
    width: 100%;
    max-width: 20.1rem;
}

section.cardapio ul li .bottom .info p {
    font-size: 2rem;
    color: #B92727;
}

section.cardapio ul li .bottom a {
    width: 100%;
    height: 5.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    color: var(--primary-color);
    font-weight: 600;
    border-top: 1px solid #B92727;
    border-radius: 0 0 1.2rem 1.2rem;
    transition: all 0.3s, color 0.3s;
}

section.cardapio ul li .bottom a:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

@media(max-width: 768px) {
    section.cardapio {
        padding: 3.6rem 0;
    }

    section.cardapio .top {
        justify-content: center;
    }
}

/* CONTATO */
section.contato {
    padding: 6rem 0;
    background-color: var(--white-color);
}

section.contato .container {
    display: flex;
    align-items: stretch;
    gap: 4.2rem;
    height: 100%;
}

section.contato .left {
    width: 100%;
    max-width: 59.5rem;
    height: 100%;
    overflow: hidden;
}

section.contato .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;
}

section.contato .right .top h2 {
    width: 100%;
    max-width: 24.4rem;
    margin-bottom: 2rem;
}

section.contato .right .top .desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 33rem;
}

section.contato .right .desc p {
    font-size: 2rem;
}

section.contato .right ul.contacts {
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: auto;
    gap: 2.4rem;
}

section.contato .right ul.contacts>li {
    height: 100%;
    padding: 2rem 0;
}

section.contato .right ul.contacts>li {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 2.4rem;
}

section.contato .right ul.contacts>li:last-child {
    border-right: none;
}

section.contato .right ul.contacts>li h3 {
    font-size: 2.4rem;
    font-weight: 500;
}

section.contato .right ul.contacts>li ul li {
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    section.contato .container {
        flex-direction: column;
        align-items: center;
        gap: 2.8rem;
    }

    section.contato .left {
        width: 100%;
        max-width: 70rem;
    }

    section.contato .left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    section.contato .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    section.contato .right .top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.8rem;
    }

    section.contato .right .top h2 {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    section.contato .right ul.contacts {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        align-items: stretch;
        gap: 0;
    }

    section.contato .right ul.contacts>li {
        width: 100%;
        padding-right: 0;
        height: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: none;
    }
}

@media (max-width: 768px) {
    section.contato {
        padding-bottom: 2.4rem;
        padding-top: 3.6rem;
    }

    section.contato .container {
        gap: 2.4rem;
    }

    section.contato .right ul.contacts {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.contato .right .top h2 {
        margin-bottom: 1.2rem;
    }

    section.contato .right ul.contacts>li {
        border: none;
        width: 100%;
        max-width: 20rem;
    }
}